<div class="content-center">
  <div class="row mine-row"
       appSquare
       *ngFor="let row of game.space">
    <div class="mine-box col"
         (click)="boxClicked($event, mineBox.i, mineBox.j)"
         [ngClass]="{'mine': mineBox.revealed && mineBox.mine, 'revealed': mineBox.revealed && !mineBox.mine}"
         *ngFor="let mineBox of row">
      <a>
        <i *ngIf="mineBox.revealed && !mineBox.mine">
          {{mineBox.danger}}
        </i>
      </a>
    </div>
  </div>
</div>
