.content-center {
  background-color: #999999;
  height: calc(100vmin - 50px);
  width: calc(100vmin - 50px);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .mine-row {
    margin: 0;
    .mine-box {
      background-color: #56bcff;
      border: 1px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .revealed {
      background-color: #3a759e;
    }
    .mine {
      background-color: red;
      cursor: not-allowed;
    }
  }
}






