<div class="container col-sm-6 col-xs-12">
  <form #gameForm="ngForm"
        (ngSubmit)="onSubmit(gameForm)">

    <div class="form-group">
      <label for="rows">Rows</label>
      <input type="number"
             id="rows"
             class="form-control"
             [(ngModel)]="rows"
             name="rows"
             pattern="[3-9]|1[0-5]{1}?"
             required>
      <span class="rows-help">
        Enter a number between 3 and 15
      </span>
    </div>

    <div class="form-group">
      <label for="columns">Columns</label>
      <input type="number"
             id="columns"
             class="form-control"
             name="columns"
             [(ngModel)]="columns"
             pattern="[3-9]|1[0-5]{1}?"
             required>
      <span class="columns-help">
        Enter a number between 3 and 15
      </span>
    </div>

    <div class="form-group">
      <label for="difficulty">Select dificulty</label>
      <select id="difficulty"
              class="form-control"
              [(ngModel)]="difficulty"
              name="difficulty"
              required>
        <option *ngFor="let difficulty of difficulties"
                [value]="difficulty.value">
          {{ difficulty.name }}
        </option>
      </select>
    </div>

    <button type="submit"
            class="btn btn-outline-primary w-100"
            [disabled]="!gameForm.valid">
      Create Game
    </button>
  </form>
</div>

