.container {
  //max-width: 50%;
  margin: 0 auto;
  .form-group {
    label {
      margin-top: 10px;
    }
    .rows-help,
    .columns-help {
      font-size: 12px;
      color: #999999;
    }
  }
}
